:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
  margin: 0;
}
.cGcGK {
  float: left;
  margin-right: 28px;
  max-width: 614px;
  width: 100%;
  margin-top: 6%;
}
h1,
h2,
p,
div,
span,
button,
li,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

.container {
  max-width: 100%;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  margin-bottom: 30px;
}

.btn {
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.btn:focus {
  outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Profile */
.profile {
  padding: 1.2rem 12rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-image {
}

.profile-image img {
  width: 10rem;
}

.profile-user-settings {
  display: flex;
  align-items: center;
}

.profile-user-name {
  font-size: 3em;
}

.profile-edit-btn {
  padding: 5px 9px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 0 24px;
  font-size: 1.4em;
  font-weight: 600;
}

.profile-settings-btn {
  font-size: 18px;
}

.profile-stats ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  margin: 20px 0;
}

.profile-stat-count {
  font-weight: 600;
  font-size: 1.4em;
}

.profile-actual-name {
  font-size: 1.8em;
}

.profile-bio {
  font-size: 1.4em;
  margin-top: 4px;
}

/* Search */

.search-input {
  text-align: center;
  font-size: 14px;
  width: 19rem;
  height: 3rem;
  border-color: lightgrey;
  border-radius: 3px;
}

/* Nav-icons */

._8-yf5 {
  margin-right: 16px;
}

/* story feed */
.feed {
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.OE3OK {
  border: none;
  background: none;
  margin: 0px -33px;
}

._6q-tv {
  border-radius: 82px;
  width: 75px;
  height: 75px;
}

main {
  margin-left: 17%;
  margin-right: 17%;
}

.h_uhZ {
  letter-spacing: 0.01em;
  max-width: 74px;
  font-size: smaller;
}
.feed {
  background: #fff;
  background: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid #dbdbdb;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  margin-bottom: 24px;
  margin-top: 0;
  padding: 16px 36px;
  max-width: 650px;
}
ul {
  border: none;
  background: none;
}

.vi798 {
  display: flex;
  margin: 0;
  padding: 0;
  border-radius: 23px;
  /* border-radius: 80px; */
  border: none;
  background: no-repeat;
}

/* Card */

.card {
  background: #fff;
  background: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid #dbdbdb;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  margin-bottom: 24px;
  margin-top: 0;
  padding: 7px;
  max-width: 650px;
}

.card-logo {
  width: 34px;
  height: 34px;
  border-radius: 15px;
  display: inline-block;
}

.card-name {
  color: black;
  text-decoration: none;
  font-size: larger;
  font-weight: 700;
  display: inline-block;
  vertical-align: 12px;
  margin-left: 9px;
}
.option {
  float: right;
  margin-top: 9px;
}

.FFVAD {
  height: 100%;

  user-select: none;
  width: 100%;
}

.card-header {
  border-bottom: 1px solid #efefef;
  border-bottom: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}

/* Gesture */

.gesture {
  padding: 0px 15px;
}

.last {
  float: right;
}
.L_LMM.ePUX4 .ygqzn {
  padding-left: 16px;
  padding-right: 16px;
}

.likes {
  margin-left: 14px;
  margin-top: 2px;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
}
.caption {
  display: inline-block;
  font-size: 13px;
  margin-left: 7px;
}
.comment {
  background: 0 0;
  border: 0;
  color: #8e8e8e;
  color: rgba(var(--f52, 142, 142, 142), 1);
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-size: 12px;
  margin-left: 15px;
  font-weight: 600;
}
textarea {
  width: -webkit-fill-available;
  border: none;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}

.XmSS_,
.COOzN {
  max-width: 293px;
  position: absolute;
  right: 0;
  width: 100%;
}
.xrWdL {
  height: auto;
  margin-bottom: 10px;
  margin-top: 18px;
}
.m0NAq {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 62px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.j9XKR {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  max-width: 935px;
}

.cGcGK {
  float: left;
  margin-right: 28px;
  max-width: 614px;
  width: 100%;
}

.YT6rB {
  top: 88px;
}
.MnWb5 {
  position: fixed;
  top: 102px;
}
.COOzN {
  height: 100vh;
  margin-bottom: 30px;
  padding: 0;
  top: 100px;
}

.ON6Nq {
  margin-bottom: 0;
  max-height: 141px;
}
.nwXS6 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  margin-bottom: 12px;
  max-height: 50px;
  padding-left: 5px;
  width: 100%;
}

.HVWg4 {
  padding-bottom: 8px;
  padding-top: 8px;
}
.XfCBB {
  padding-left: 16px;
  padding-right: 16px;
}
._4EzTm {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.eGOV_ {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.ybXk5 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.rBNOH {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.Igw0E {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

a.FPmhX.MBL3Z {
  color: #262626;
  color: rgba(var(--i1d, 38, 38, 38), 1);
}
a,
a:visited {
  color: #00376b;
  color: rgba(var(--fe0, 0, 55, 107), 1);
  text-decoration: none;
}
.FPmhX {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
}

.MqpiF {
  display: inline;
}
.Jv7Aj {
  position: relative;
  /* float: left; */
}
.uL8Hv {
  display: block;
}
.KV-D4 {
  color: #262626;
  color: rgba(var(--i1d, 38, 38, 38), 1);
}
.MMzan {
  font-weight: 400;
}
.xLCgt {
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
}
._8UZ6e {
  background-color: #fafafa;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  margin: 0 0 12px -16px;
  width: calc(100% + 32px);
}

.yC0tu {
  margin-right: 12px;
}
._4EzTm {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.eGOV_ {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.IwRSH {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.Igw0E {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

._lz6s {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border-bottom: 1px solid #dbdbdb;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  position: fixed;
  top: 0;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  width: 100%;
  z-index: 3;
}

/* Media queries */

@media only screen and (max-width: 1000px) {
  .COOzN {
    display: none;
  }
  main {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 750px) {
  .profile {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  main {
    margin-left: 5%;
    margin-right: 0;
    margin-top: 5%;
  }
}

@media only screen and (max-width: 500px) {
  .search-input {
    display: none;
  }
  .nav {
    display: inline-flex;
    margin-left: 143px;
  }
  main {
    margin-left: 6%;
    margin-right: 0;
    margin-top: 9%;
  }
}

@media only screen and (max-width: 400px) {
  .search-input {
    display: none;
  }
  .nav {
    display: none;
  }
  .profile {
    margin-left: -11rem;
    width: -webkit-fill-available;
  }
  .profile-image img {
    margin: 0px 55px;
  }
}
